main {
    width: 100%;
    padding: 20px 40px;
}

main .container {
    display: flex;
    flex-direction: row;
}

main .message-main {
    text-align: center;
    font-size: 24px;
    margin-top: calc(50vh - 75px);
}

main .container-loading {
    width: 100%;
    height: calc(100vh - 145px);
    display: flex;
    justify-content: center;
    align-items: center;
}

main .container-loading .loading {
    width: 70px;
}

@media (max-width: 650px) {
    main .message-main {
        margin-top: calc(50vh - 128px);
        font-size: 18px;
    }
}

@media (max-width: 600px) {
    main .container {
        flex-direction: column;
    }

    main .container .personal-data {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;
        text-align: center;
    }

    main .container .personal-data .follow * {
        margin: 0 5px;
    }
}

main .container .personal-data img {
    width: 20vw;
    min-width: 150px;
    border-radius: 5px;
    margin: 0 auto 10px;
}

@media (max-width: 950px) {
    main .container .personal-data img {
        width: 30vw;
    }
}

main .container .personal-data * {
    margin-bottom: 10px;
}

main .container .personal-data h2 {
    font-weight: 500;
}

main .container .personal-data h3 {
    font-weight: normal;
}

main .container .personal-data .follow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

main .container .personal-data .follow * {
    font-size: 14px;
}

main .container .repositorie-data ul, li {
    list-style-type: none;
    margin: 0 20px 20px 20px;
}

main .container .repositorie-data, ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}