header {
    background-color: #24292E;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .title-container .logo {
    width: 35px;
    margin-right: 20px;
}

header .title-container .title-header {
    font-size: 20px;
    color: #f3eaea;
    margin: 0;
}

header form input[type = "text"] {
    background-color: #404448;
    border: 0;
    border-radius: 5px;
    padding: 5px;
    font-size: 14px;
    font-weight: 400;
}

header form input[type = "text"]::placeholder {
    color: #86898B;
    font-weight: 600;
}